@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */
:root {
    --bg-color: #ffffff;
    --text-color: #000000;
}

dark {
    --bg-color: #121212;
    --text-color: #ffffff;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    transition: background-color 0.5s, color 0.5s;
}
